extends layout
block content
    - var oneOBper = (kOneOB / oneOB).toFixed(3);
    - var twoOBper = (kTwoOB / twoOB).toFixed(3);
    - var threeOBper = (kThreeOB / threeOB).toFixed(3);
    head
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML")
        script(type="text/x-mathjax-config").
            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [['$','$'], ['\\(','\\)']],
                }
            });
        script(type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js") 
    title K Score Calculator | Landon Baxter
    body
        h1#title K Score âš¾ï¸
        div.textClass 
            p  K Score is a measure of a pitcher's ability to produce strikeouts under pressure, relative to the league at the time. A pitcher is considered to be under pressure when he is pitching with runners on base. I have defined three different levels of pressure (base states)  according to the number of runners on base (one runner on base, two runners on base, and three runners on base). To calculate K score for a given pitcher, one must calculate that pitcher's strikeout rate for each of the three base states, where strikeout rate is given by the number of strikeouts while in that base state divided by the number of the times that the pitcher has pitched in that base state.
            p For example, a pitcher who has 100 strikeouts with two runners on base and has pitched with two runners on base 400 times would have a two runner strikeout rate of $100/400 = .25$. In other words, this pitcher throws a strikeout with two runners on based 25% of the time. 
            p We also want to adjust each of these rates according to the performance of other pitchers in the same time period. Therefore, I have chosen to calculate the league average strikeout rates for each of the three base states and divide a player's strikeout rates by the corresponding league average. By dividing a player's strikeout rate by the league average, we are able to measure a player's ability to strikeout batters under pressure relative to the other pitchers at the time. The higher this ratio is, the higher above average the pitcher is when pitching in that base state.    
            p 
                | Finally, we sum up the ratios between a player's strikeout rates and the league averages and weight each ratio by the "pressure level", which is given by the number of runners on base. This statistic is measuring a pitcher's ability to effectively pitch 
                em under pressure, 
                | so it is necessary to assign more weight to higher pressure situations, that is, when there are more runners on base.  
    
            p  The full formula and necessary constants are seen below. 
            p#equation 
                |\begin{align} 
                |  kScore &= 1*\frac{\text{one runner strikeout rate}}{\text{lgAverage one runner strikeout rate}}+2*\frac{\text{two runner strikeout rate}}{\text{lgAverage two runner strikeout rate}}+3*\frac{\text{three runner strikeout rate}}{\text{lgAverage three runner strikeout rate}}\\
                |\end{align}
            ul
                li $\text{lgAverage one runner strikeout rate} = 0.1801$
                li $\text{lgAverage two runner strikeout rate} = 0.1862$
                li $\text{lgAverage three runner strikeout rate} = 0.1969$
            p Note that the league averages were calculated using retrosheet, meaning they are derived from 2010-2013 data. 
        h2#title How K Score Compares to Other Statistics ðŸ“ˆ
        div.textClass
            p A few stats that are used to describe the performance of a pitcher are earned run average (ERA) and hits allowed (H). To better understand how useful K score is, I produced scatterplots and correlation scores between K Score and ERA/H for pitchers with more than 50 appearances. The image below shows my findings. 
            img#charts(src="https://i.imgur.com/j2kafez.png" alt="image Title")
            p Clearly, the correlation between pitching score and other pitching stats is not incredibly strong. However, it has a somewhat noteworthy negative correlation with ERA, which makes sense. If a pitcher throws more strikeouts and can do so under pressure, then they will probably allow fewer runs on average. This is reflected in the correlation score of -0.45. Hits, on the other hand, have a weaker negative correlation with K score -- only -0.18. This is surprising: one would expect fewer hits if a pitcher successfully produces strikeouts most of the time. Perhaps this is due to the "luck" factor with hitting and the fact that the charts consider a span of three years. A pitcher might allow fewer hits one year, simply because the hits he gave up were luckily fielded by his defense. This same pitcher might see his hits allowed jump the next year because the hitters have better luck placing the ball on the field where the fielders are not. Because of this variance (which is related to the year-to-year variance in batting average), hits allowed is a difficult stat to compare against. Additionally, we are comparing pitchers of all kinds in these plots -- relief pitchers, starting pitchers, pitchers who play both roles at times, and so on. Combining these groups may be making the data more noisy. Regardless, both ERA and hits allowed produced negative correlations with K score (even if they aren't incredibly strong), which is to be expected with a pitching stat that measures a pitcher's ability to throw strikeouts under pressure.  
        h2#title K Score Descriptive Statistics ðŸ“Š
        div.textClass
            p Before exploring the K Score of individual players, it is necessary to discuss the descriptive statistics of K Score around the league. This will allow us to understand how impressive a player's K Score is. Below is a histogram of K Scores from all pitchers in the league from 2010-2013, as well as the corresponding descriptive stats:
            img#hist(src="https://i.imgur.com/PvH8Mi5.png" alt="Histogram")
            ul
                li Mean: 6.44
                li Standard Deviation: 2.41
                li Min: 1.73
                li Max: 22.57
                li Median: 6.17 
        h2#title K Score Calculator ðŸ“
        if kscore == NULL 
            div.textClass
                p  To calculate a K score for 2010-2013, search for a player:
                form(method='POST' action='/search')
                    div.form-group
                        label.label Name
                        input.input-box(type='text', placeholder='First Name' name='firstName')
                        input.input-box(type='text', placeholder='Last Name' name='lastName')
                        button.submit(type='submit') Search 
                if err != NULL
                    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML")
                    script(src="javascripts/search.js") 
                    p.err=err
        if kscore != NULL
            script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML")
            script(src="javascripts/search.js") 
            div.textClass
                p #{firstName} #{lastName} has the following strikeout numbers: 
                ul
                    li 
                        | He has pitched with one runner on base 
                        strong #{oneOB}  
                        | times. With these conditions, he has produced 
                        strong #{kOneOB} 
                        | strikeouts. 
                        ul
                            li Therefore, #{firstName} #{lastName} has a one-runner strikeout rate of $ \frac{ #{kOneOB} }{ #{oneOB} } = #{oneOBper} $.
                    li 
                        | He has pitched with two runners on base 
                        strong #{twoOB} 
                        | times. With these conditions, he has produced 
                        strong #{kTwoOB} 
                        | strikeouts.
                        ul
                            li Therefore, #{firstName} #{lastName} has a two-runner strikeout rate of $ \frac{ #{kTwoOB} }{ #{twoOB} } = #{twoOBper} $. 
                    li 
                        | He has pitched with three runners on base 
                        strong #{threeOB} 
                        | times. With these conditions, he has produced 
                        strong #{kThreeOB} 
                        | strikeouts.
                        ul
                            li Therefore, #{firstName} #{lastName} has a three-runner strikeout rate of $ \frac{ #{kThreeOB} }{ #{threeOB} } = #{threeOBper} $. 
                - var stdAway = (Math.abs(kscore-6.445255)/2.406805).toFixed(3)
                - var diff = (kscore-6.445255).toFixed(3)
                p Results:
                div#equation
                    |\begin{align} 
                    |  k_{#{lastName}} &= 1*\frac{\text{#{oneOBper}}}{0.1801}+2*\frac{#{twoOBper}}{0.1862}+3*\frac{#{threeOBper}}{0.1969} = #{kscore}\\
                    |\end{align}
                    ul
                        if diff > 0
                            li #{firstName} #{lastName}'s K Score is #{diff} points above average.
                        if diff < 0
                            - diff = -diff 
                            li #{firstName} #{lastName}'s K Score is #{diff} points below average.
                        li His K Score is #{stdAway} standard deviations from the mean.
                p#search2  To calculate another K score, search for a player:
                form(method='POST' action='/search')
                    div.form-group
                        label.label Name
                        input.input-box(type='text', placeholder='First Name' name='firstName')
                        input.input-box(type='text', placeholder='Last Name' name='lastName')
                        button.submit(type='submit') Search
                    if err != NULL
                        p.err=err 
