extends layout
block content
    - var oneOBper = (kOneOB / oneOB).toFixed(3);
    - var twoOBper = (kTwoOB / twoOB).toFixed(3);
    - var threeOBper = (kThreeOB / threeOB).toFixed(3);
    head
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML")
        script(type="text/x-mathjax-config").
            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [['$','$'], ['\\(','\\)']],
                    skipTags: ["script","noscript","style","textarea","code"]
                }
            });
    h1#title K Score Calculator
    body 
        p  To calculate a K score, you can search for a player:
    form(method='POST' action='/search')
        div.form-group
            label.label Name
            input.input-box(type='text', placeholder='First Name' name='firstName')
            input.input-box(type='text', placeholder='Last Name' name='lastName')
            button.submit(type='submit') Search 
        h3  or enter in stats manually:
        if kscore != NULL
            p.result Results
            body
                p #{firstName} #{lastName} has the following strikeout numbers: 
                ul
                    li 
                        | He has pitched with one runner on base 
                        strong #{oneOB}  
                        | times. With these conditions, he has produced 
                        strong #{kOneOB} 
                        | strikeouts. 
                    ul
                        li Therefore, #{firstName} #{lastName} has a one-runner strikeout percentage of $ \frac{ #{kOneOB} }{ #{oneOB} } = #{oneOBper} $.
                    li 
                        | He has pitched with two runners on base 
                        strong #{twoOB} 
                        | times. With these conditions, he has produced 
                        strong #{kTwoOB} 
                    ul
                        li Therefore, #{firstName} #{lastName} has a two-runner strikeout percentage of $ \frac{ #{kTwoOB} }{ #{twoOB} } = #{twoOBper} $. 
                    li 
                        | He has pitched with three runners on base 
                        strong #{threeOB} 
                        | times. With these conditions, he has produced 
                        strong #{kThreeOB} 
                        | strikeouts.
                    ul
                        li Therefore, #{firstName} #{lastName} has a three-runner strikeout percentage of $ \frac{ #{kThreeOB} }{ #{threeOB} } = #{threeOBper} $. 
                 
